/* Page Container */
.pageContainer {
    font-family: "Arial", sans-serif;
    padding: 2rem;
    background: linear-gradient(135deg, rgb(150, 252, 171), #239456);
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header Styling */
  .header {
    background-color: #239456;
    color: white;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  /* Content Section */
  .contentSection {
    max-width: 800px;
    background-color: #239456;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Paragraph Styling */
  .paragraph {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #f6f6f6;
    text-align: justify;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 2rem;
    }
  
    .contentSection {
      padding: 1.5rem;
    }
  
    .paragraph {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .header h1 {
      font-size: 1.8rem;
    }
  
    .contentSection {
      padding: 1rem;
    }
  
    .paragraph {
      font-size: 0.9rem;
    }
  }
<<<<<<< HEAD
  
=======
  
>>>>>>> 48d8ade1b6b6eaca32faca0043cb4a435b2967a8
